.lde-email-result {
	padding-top: 10px;
	padding-left: 8px;
	height: 125px;
	color: #666;
}

.lde-header {
	overflow: auto;	
}

.lde-sender {
	float: left;
	font-size: 100%;
	font-weight: bold;
}

.lde-date {
	font-size: 90%;
	float:right;
}

.lde-text {
	font-size: 85%;
	padding-top: 5px;
	word-break: break-all;
}