.lde-email-result {
	padding: 10px 8px 0px 8px;
	height: 125px;
	color: #666;
	cursor: pointer;
	border-bottom: 1px solid #D8D8D8;
}

.active-snippet {
	background-color: #f4f8e7;
}

/*
.lde-email-result:hover {
	background-color: #f4f8e7
}
*/

/**
 * Header containing the sender and the date of the email in
 * email result.
 */
.lde-header {
	overflow: auto;	
}

/**
 * Name of the sender of the email.
 */
.lde-sender {
	float: left;
	font-size: 100%;
	font-weight: bold;
}

/**
 * Date the email was sent.
 */
.lde-date {
	font-size: 90%;
	float:right;
}

/**
 * Text contained within the email body.
 */
.lde-text {
	font-size: 85%;
	padding-top: 5px;
	word-break: break-all;
}

#lde-popup {
	width: 470px;
	height: 270px;
	padding: 25px;
	border: solid 1px #666;
	color: #666;
	position: absolute;
	background:white;
	z-index: 1001;
	right:250px;
}

.lde-popup-subject {
	font-size: 18px;
	padding-bottom: 12px;
	border-bottom: solid 1px #666;
	margin-bottom: 10px;
}

.lde-popup-msg-header {
	overflow: visible;
	margin-bottom: 45px;
}

.lde-popup-sender-name {
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-right: 10px;
}

.lde-popup-sender-email {
	font-size: 12px;
	float: left;
}

.lde-popup-date {
	font-size: 12px;
	float: right;
}

.lde-popup-msg-text {
	font-size: 12px;
	height: 200px;
	overflow: auto;
	clear: both;
}

/**
 *  Container containing individual snippet containing the sidebar UI,
 *  namely the list of email snippets.
 */
#ldengine {
	background: inherit;
	padding-top: 10px;
	padding-left: 8px;
	position: relative;
	overflow: hidden;
	margin-top: 0;
	padding-top: 10px;
}

#lde-msg-mask {
	background:#999;
	width:100%;
	height:100%;
	opacity:.6;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1000	
}

.lde-popup-arrow {
	position: absolute;
	right: -29px;
	top: 40px;
}

.lde-popup-content {
	display: none;
}

.lde-ajax-spinner {
position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin-top: -16px; /* Half the height */
	margin-left: -16px; /* Half the width */	
	background-image:url('chrome-extension://__MSG_@@extension_id__/ajax-loader.gif');
}

.lde-popup-close-button {
	width: 20px;
	height: 20px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/close_message.gif');	
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.lde-popup-sender-thumbnail img {
	width: 25px;
	height: 25px;
	float:left;
	margin-right: 5px;
	margin-top: -5px;
}

.Bu {
	position: relative;
}

.u5, .yM {
	display:none;
}

.lde-keyword {
	background-color: yellow;
}

.y3 {
	width: 250px;
}

.adC {
	margin-left: 0px;
	width: 236px;
}