<div class="lde-indexing-inbox">Indexing Inbox:</div>
<div class="lde-progress-row lde-clearfix">
  <div class="lde-progress-container">
    <div class="lde-progress-status"></div> 
  </div>
  <div class="lde-progress-value">
    0%
  </div>
</div>
