<div class="lde-email-result">
	<div class="lde-header">
		<div class="lde-sender">{{>sender}}</div>
		<div class="lde-date">{{>date}}</div>
	</div>
	<div class="lde-text">
		{{:snippet}}
	</div>
</div>