<div class="lde-unauthenticated">
	<span class="name">SOMENAME</span>
	<span class="email">emails</span>
	<img src="/some/image" />
	<p>It appears that you are not currently connected to LDEngine</p>
	<a class="login-button">Log in</a>
</div>