
	<span class="lde-unauth-name">SOMENAME</span>
	<span class="lde-unauth-email">emails</span>
	<div class="lde-unauth-login-picture-container clearfix">
		<div class="lde-unauth-image"></div>
		<div class="lde-unauth-login-prompt-container">
			<p>It appears that you are not currently connected to LDEngine.</p>
			<a class="lde-unauth-button lde-gradient" href="{{:url}}" >Log in</a>
		</div>
	<div>
